<div>
  
  <label class="item item-input">
    <input class="item item-input" ng-model="myModel.user.login" placeholder="User" highlight-color="balanced" type="text"></input>
  </label>
  <label class="item item-input">
    <input class="item item-input" ng-model="myModel.user.password" placeholder="Password"  highlight-color="energized" type="password"></input>
  </label>
</div>



<div class="padding">
  <button ng-click="login(myModel.user,true)" class="button button-block button-positive ">ENTER</button>
</div>